@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
} 
title {
  font-family: 'Josefin Sans', sans-serif;

}

  .App {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: rgba(0,0,0,0.4);
    color: white;
  }

  .App::before {
    content: '';
    background: url('./assets/sun.jpg') no-repeat center center/cover ;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .search {
    text-align: center;
    padding: 1rem .7rem;
  }


  input {
    padding: 1rem .7rem;
    font-size: large;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 25px;
    border: 0px ;
    background-color: rgba(255,255,255,0.3);
    text-align: center;
    color: white;
  }

  input:focus {
    border-style: none;
    outline: none;
  }
  
  ::placeholder {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: smaller;
    font-weight:100;
  }

  .top {
    width: 100vw;
    margin: .5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .top h1{
    font-size:70px;
    margin: -10px auto;
  }
  .top p{
    text-align: right;
  }

  .middle {
    border-radius: 40px;
    background-color: rgba(255,255,255,0.3);
    width: 50%;
    margin: .5rem auto;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .middle p{
    display: flex;
    justify-content: space-between;
  }

  .bottom {
    border-radius: 35px;
    background-color: rgba(255,255,255,0.3);
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 1.5rem auto;
    padding: 1rem 1.5rem;
  }

  @media screen and (max-width : 494px) {
    p {
      font-size: small;
    }
    .bottom {
      padding: 1rem 1rem;
    }
    .middle {
      padding: 1rem 1rem;
    }

  }

  @media screen and (max-width : 320px) {
    p {
      font-size: x-small;
    }
    .bottom {
      padding: 1rem .7rem;
    }
    .middle {
      padding: 1rem .7rem;
    }
  }